# SERVER CONFIGURATIONS
RUN_ENVIRONMENT="production" #options [production, staging]
RUN_PORT="4500"
RUN_DATABASE="mongodb" #options [mongodb, mariadb]

# DATABASE - MARIADB 
MARIADB_HOST=""
MARIADB_PORT=""
MARIADB_USER=""
MARIADB_PWD=""
MARIADB_DB=""
MARIADB_USER_TABLE=""

# DATABASE - MONGODB
MONGODB_HOST=""
MONGODB_PORT=""
MONGODB_USER=""
MONGODB_PWD=""
MONGODB_DB=""
MONGODB_USER_COLLECTION=""